@import url('https://fonts.OpenAIapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif; /* Added sans-serif fallback for Safari */
  margin: 0;
  background-color: black;
  color: #eee;
  touch-action: pan-y;
  -ms-user-select: none; 
		-moz-user-select: none; 
		-webkit-user-select: none; 
		user-select: none;
}

#container {
	position: absolute;
	top:0;
    left: 0;
	right: 0;
	bottom: 0;
	background: black;
	display: grid;
	grid-template-rows: 60% 40%;
}

#maze {
	position: absolute;
	width: 340px;
	height: 240px;
	/*background: #39a;
	
	align-self: center;
	justify-self: center;
	place-self: center center;*/
	top: 40vh;
	left: 50%;
	transform: translate(-50%, -50%) scale(2.2)
}
@media (max-width: 1000px) { /* Adjust breakpoint as needed for phone screens */
	#maze {
	  transform: translate(-50%, -50%) scale(2.8)
	}
  }

.mbox,
.controls {
	height: 100%;
	background: black;
	display: grid;
}


.buttons {
	width: 210px;
	height: 140px;
	background: black;
	align-self: center;
	justify-self: center;
	display: grid;
	grid-template-rows: 70px 70px;
	grid-template-columns: 70px 70px 70px;
  }
  
  @media (max-width: 1000px) { /* Adjust breakpoint as needed for phone screens */
	.buttons {
	  transform: scale(2.3);
	}
  }

.btn {
	width: 60px;
	height: 60px;
	border: 2px #fff solid;
	border-bottom: 2px #fff solid;
	align-self: center;
	justify-self: center;
	cursor: pointer;
	border-radius: 8px;
	display: grid;
	/*box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.2);*/
}
.chevron {
	height: 20px;
	width: 20px;
	align-self: center;
	justify-self: center;
	color: #222;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}

#bu {
	grid-column-start: 2;
}
#bd {
	grid-column-start: 2;
	grid-row-start: 2;
}
#bl {
	grid-column-start: 1;
	grid-row-start: 2;
}
#br {
	grid-column-start: 3;
	grid-row-start: 2;
}

#thingie,
#home {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	/*background: #39a;
	transition: all .1s;*/
}

.usr{
	background-image: url(https://petridish.pw/engine/img/masterloginicon.png);
	background-size: 100% auto;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-o-background-size: 100% auto;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 15px;
	height: 15px;
	border-radius: 20px;
	font-size: 15px;
	line-height: 15px;
	text-align: left;
}
.victory {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	display: none;
	color: gold;
	background-color: red;
}

.pts {
	background-image: url(https://petridish.pw/engine/img/purse4.png);
	background-size: 100% auto;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-o-background-size: 100% auto;
	position: absolute;
	top: 2px;
	left: 1px;
	width: 15px;
	height: 15px;
	border-radius: 20px;
	font-size: 15px;
	line-height: 15px;
	text-align: left;
}

.barrier {
	position: absolute;
	background: #fff;
}

#top {
	top: 20px;
	left: 20px;
	width: 300px;
	height: 2px;
}

#bottom {
	top: 220px;
	left: 20px;
	width: 302px;
	height: 2px;
}

/*style reset*/
button {
	display: inline-block;
	border: none;
	padding: none;
	margin: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: none;
	-webkit-tap-highlight-color: transparent;
}

button:hover,
button:focus {
	-webkit-appearance: none;
}

button:focus {
	outline: none;
}

button:active {
	transform: scale(1);
	-webkit-appearance: none;
}

.home {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    top: 3%;
    right: 8%;
    transform: translate(-50%, -50%) scale(1.0);
    border: white solid 1px;
    padding: 5px;
    border-radius: 100%;
}

@media (max-width: 1000px) { /* Adjust breakpoint as needed for phone screens */
	.home {
	  transform: scale(2.3);
	}
  }
  